:root {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.header-nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.header-nav a {
    text-decoration: none;
}
.header-nav li {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
    transition: font-size 0.3s ease-in;
    color: rgb(33, 54, 42);
}
.header-nav li:hover {
    display: inline-flex;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    color: white;
    font-size: 1.5em;
}
header p {
    padding: 100px;
}
.headerinfo {
    background-color: rgb(152, 250, 253);
    opacity: 0.9;
    display: block;
    text-align: center;
    max-height: 700px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 600px;
    padding: 10px;
    border: outset rgb(255, 255, 255) 3px;
    border-bottom: none;
    border-right: none;
    border-radius: 10px;
    margin-left: 10px;
}
.headerinfo img {
    height: 500px;
    border: solid black 1px;
    border-radius: 10px;
}
header {
    padding-left: 100px;
    padding-right: 100px;
}
.headerinfocontainer {
    display: flex; 
    margin-top: 10px;
}
.headerinfocontainer p { 
    line-height: 1.5;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 10px;
    font-size: 31px;
    padding-top: 125px;
    color: black;
    background-color: rgb(152, 250, 253);
    border: inset rgb(255, 255, 255) 3px;
    border-left: none;
    border-top: none;
    border-radius: 10px;
}
.container h3 {
    text-align: center;
    color: black;
    margin-top: 50px;
    padding-top: 20px;
}
.container {
    background-color: white;
    height: 1000px;
    margin: 25px;
    border: 2px solid black;
}
.row {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}
h5.card-title {
    text-align: center;
}
p.card-text {
    line-height: 1.5;
}
.card {
    height: 100px;
    margin-top: 50px;
}
.underline {
    height: 5px;
    background-color: black;
    width: 50px;
    margin: auto;
}
.underline2 {
    height: 5px;
    background-color: white;
    width: 50px;
    margin: auto;
}
.breakup h3 {
    text-align: center;
    color: white;
}
.long-journey {
    line-height: 2;
    color: white;
}
.breakup {
    margin: 25px;
    padding: 15px;
}
footer {
    display: block;
    color: white;
    text-align: center;
}
.social {
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.social i {
    margin: 25px;
    color: white;
    
}

body {
    height: auto;
    background-image: linear-gradient(rgb(62, 207, 243), rgb(130, 248, 179), rgb(214, 134, 252), rgb(196, 85, 248), rgb(150, 22, 236));
    background-size: cover;
    background-repeat: round;
    overflow-y: scroll;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@media only screen and (max-width: 1769px) {
    .header-nav li {
        display: inline-flex;
        justify-content: center;
        margin-left: 100px;
        margin-right: 100px;
        flex-wrap: nowrap;
        color: rgb(33, 54, 42);
    }
    .header-nav li:hover {
        display: inline-flex;
        justify-content: center;
        margin-left: 100px;
        margin-right: 100px;
        color: white;
        font-size: 1rem;
    }
    
}
@media only screen and (max-width: 1375px) {
    .card img {
        display: none;
    }
    .card-body {
        display: flex;
        justify-content: space-evenly;
    }
    .card-title {
        display: none;
    }
    .header-nav li {
        display: inline-flex;
        justify-content: center;
        margin-left: 50px;
        margin-right: 50px;
        flex-wrap: nowrap;
        color: rgb(33, 54, 42);
    }
    body {
        overflow: scroll;
        overflow-x: hidden;
    }
    .header-nav li:hover {
        display: inline-flex;
        justify-content: center;
        margin-left: 50px;
        margin-right: 50px;
        color: white;
        font-size: 1rem;
    }
}
    @media only screen and (max-width: 1508px) {
    .headerinfocontainer {
        display: flex; 
       flex-wrap: wrap;
        margin-top: 10px;
    }
    body {
        overflow: scroll;
        overflow-x: hidden;
    }
}
@media only screen and (max-width: 1000px) {
    .container {
        display: none;
    }
    .header-nav li {
        display: inline-flex;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
        flex-wrap: nowrap;
        color: rgb(33, 54, 42);
    }
   
    .header-nav li:hover {
        display: inline-flex;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
        color: white;
        font-size: 1rem;

    }
    
    body {
        overflow: scroll;
        overflow-x: hidden;
    }
    .headerinfo {
        background-color: rgb(152, 250, 253);
        display: block;
        border: outset white 6px;
        border-bottom: none;
        border-right: none;
        border-radius: 10px;
        margin-left: 10px;
    }
    .headerinfo img {
        height: 300px;
        border: solid black 1px;
        border-radius: 10px;
    }
   body {
    overflow-x: hidden;
   }
    .headerinfocontainer p { 
        font-size: 20px;
        padding: 0px;
        margin: 0px;
        color: black;
        background-color: rgb(152, 250, 253);
        border: inset white 6px;
        border-left: none;
        border-top: none;
        border-radius: 10px;
    }
}
@media only screen and (max-width: 700px) {
    header {
     padding-left: 50px;
     padding-right: 50px;   
    }
}
@media only screen and (max-width: 500px) {
    .headerinfocontainer {
        margin: 0px;
        padding: 0px;
    }
    .headerinfo img {
        width: 150px;
        height: 150px;
    }
    .headerinfocontainer p { 
        font-size: 16px;
        margin: 0px;
        padding: 0px;
        color: black;
        background-color: rgb(152, 250, 253);
        border: inset white 6px;
        border-left: none;
        border-top: none;
        border-radius: 10px;
    }
}